.footer{

  background-color: #353C65;

  &__container{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 71.14px;
  }

  &__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item{
    max-width: 370px;
    width: 100%;
  }

  &-item__title{
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &-item__text{
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 29px;
    text-align: center;
  }

  &-item__icons{
    display: flex;
    list-style: none;
    max-width: 170px;
    width: 100%;
    justify-content: space-between;
    margin-top: 48.86px;
    margin-bottom: 67.14px;
  }

  &__item--social{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__foot{
    background-color: #2C3154;
    display: flex;
    justify-content: center;
  }

  &__copyright{
    max-width: 370px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #808080;
    margin-top: 23.86px;
    margin-bottom: 24.14px;
  }

  &__copyright--white{
    color: #FFFFFF;
  }
}

@media (min-width: 1024px) and (max-width: 1510px) {
  .footer{

    &__container{
      padding-top: 46.59px !important;
      justify-content: space-between;
      max-width: 984px !important;
    }

    &__item{
      max-width: 315px;
    }

    &-item__title{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }

    &-item__text{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      margin-top: 17.72px !important;
    }

    &-item__icons{
      max-width: 144.17px !important;
      width: 100%;
      margin-top: 32.51px !important;
      margin-bottom: 41.19px !important;
    }

    &-item__img{
      width: 33px;
      height: 33px;
    }

    &__copyright{
      margin-top: 14.28px !important;
      margin-bottom: 14.43px !important;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media (max-width: 1023px) and (min-width: 320px) {
  .footer{

    &__container{
      padding: 34.14px 20px 0 20px !important;
    }

    &-item__icons{
      margin-top: 36.71px;
      margin-bottom: 33.14px;
    }

    &__item:nth-child(1){
      .footer-item__text{
        margin-top: 34px;
      }
    }

    &__item:nth-child(3){
      .footer-item__text{
        margin-top: 38.71px;
        margin-bottom: 33.14px;
      }
    }

    &-item__title{
      font-weight: 700 !important;
      font-size: 14px !important;
      line-height: 16px !important;
    }

    &-item__text{
      font-weight: 400 !important;
      font-size: 14px !important;
      line-height: 16px !important;
    }

    &__copyright{
      padding: 29.86px 20px 28.14px 20px;
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }

  }
}

@media (max-width: 631px) and (min-width: 320px) {
  .footer{

    &__list{
      flex-direction: column;
      align-items: center;
    }

    &__item:nth-child(2){
      margin-top: 69.24px;
    }

    &__item:nth-child(3){
      margin-top: 59.05px;
    }

  }
}