.header{
  background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)),
  url("../img/header__bg.png") no-repeat center center;
  background-size: cover;

  &__menu{
    display: none;
    cursor: pointer;
  }

  &__burger{
    display: none;
    transition: display 2s ease;
  }

  &__right{
    display: flex;
    align-items: center;
  }


  &__container{
    max-width: 1170px;
  }

  .container{
    margin: 0 auto;
  }

  &__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABBC5;
  }

  &__logo{
    width: 270px;
    height: 100.95px;
  }

  &__nav{
    min-height: 100.94px;
  }

  &__links{
    display: flex;
    min-height: 100.94px;
    margin-block-end: 0;
    margin-block-start: 0;
  }

  &__link{
    list-style: none;
    min-width: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    &:hover{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &::after{
        content: '';
        border-bottom: 3px solid #BABBC5;
        width: 100%;

      }
    }

    &:active{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & a{
        color: #E71414;
      }

      &::after{
        content: '';
        border-bottom: 3px solid #E71414;
        width: 100%;

      }
    }
  }

  & a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
  }

  &__banner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 129.05px;
  }

  &__subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 31.43px;
  }

  &__btn{
    margin-top: 82px;
    margin-bottom: 120px;
  }
}

@media (max-width: 1510px) and (min-width: 1024px) {
  .header{

    &__container{
      max-width: 984px !important;
    }

    &__title{
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      margin-top: 157px !important;
    }

    &__subtitle{
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      margin-top: 61.86px !important;
      padding: 0 100px;
    }

    &__button{
      max-width: 314px;
      margin-top: 91.57px !important;
      margin-bottom: 126px !important;
    }
  }
}

@media (max-width: 1023px) and (min-width: 320px) {
  .header{

    &__container{
      padding: 0 20px;
    }

    &__logo{
      margin-left: 20px;
    }

    & .burger{
      margin-top: 28px;
      padding: 0 20px;

      &__links{
        list-style: none;
      }

      &__link{
        padding: 25px 0;

        & a{
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 15px;
          text-transform: uppercase;
        }
      }
    }

    &__head{
      border-bottom: 1px solid rgba(185, 12, 12, 0.8);
    }

    &__nav{
      display: none;
    }

    &__menu{
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: relative;
      margin-right: 11px;

    }

    .menu{

      &__icon{

        height: 3.6px;
        width: 24px;
        top: 47%;
        position: absolute;
        background: #fff;
        left: 25%;

        &::after{
          height: 3.6px;
          width: 24px;
          transform: translateY(8px);
          bottom: 0;
        }

        &::before{
          height: 3.6px;
          width: 24px;
          transform: translateY(-8px);
          top: 0;
        }

        &::after, &::before{
          content: "";
          background: #fff;
          position: absolute;
          transition: transform 0.5s ease;
        }


        &--active{
          height: 0;

        }

        &--active::after{
          transform: rotate(-45deg);
          left: 0;
          top: 50%;
        }

        &--active::before{
          transform: rotate(45deg);
          left: 0;
        }

      }
    }

    &__banner{
      padding: 0 20px;
    }

    &__title{
      margin-top: 106px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
    }

    &__subtitle{
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      line-height: 16px !important;
      margin-top: 32.71px !important;
    }

    &__btn{
      min-width: 280px !important;
      padding: 18.5px 0 !important;
      font-style: normal;
      font-weight: 900 !important;
      font-size: 24px !important;
      line-height: 28px !important;
      margin-bottom: 52px !important;
      margin-top: 49.29px !important;
    }

  }

}