.team{

  &__container{
    max-width: 1170px !important;
    margin: 114px auto 114px auto;
  }

  &__items{
    display: flex;
    list-style:none;
    justify-content: space-between;
  }

  &__item{
    list-style: none;
    max-width: 270px;
  }

  &__img{
    width: 270px;
    height: 270px;
  }

  &__name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-top: 30px;
    color: #2D3033;
  }

  &__position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-top: 5.29px;
    color: #FF4343;
  }

  &__text{
    ont-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-top: 17.86px;
    color: #6C7279;

  }

  &__socials{
    margin-top: 37.86px;
    display: flex;
    gap: 6px;
  }

  &__social{
    list-style: none;

    & a{
      text-decoration: none;
    }

    & img{

    }
  }
}

@media (max-width: 1510px) and (min-width: 1024px) {
  .team{

    &__container{
      margin-top: 78.22px;
      margin-bottom: 78.41px;
      max-width: 984px !important;
    }

    &__items{

    }

    &__item{
      max-width: 227px;
    }

    &__img{
      max-width: 227px;
      max-height: 227px;
    }

    &__name{
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      margin-top: 25.23px;
    }

    &__position{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      margin-top: 4.6px;
    }

    &__text{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      margin-top: 22.45px;
    }

    &__socials{
      margin-top: 39.2px;
      gap: 5.05px;
    }

    &__social{

      img{
        width: 32.28px;
        height: 32.28px;
      }

      a{

      }
    }
  }
}

@media (max-width: 1023px) and (min-width: 320px){

  .team{

    &__container {
      padding: 0 20px;
      margin-top: 35px !important;
      margin-bottom: 34.39px !important;
    }

    &__items {
      flex-wrap: wrap;
      gap: 49.49px;
    }

    &__item {

      & .team__img {
        max-width: 280px !important;
        max-height: 227px !important;
      }
    }

    &__name{
    margin-top: 25.25px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
    }

    &__position{
      margin-top: 4.61px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }

    &__text{
      margin-top: 38.49px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }

    &__socials{
      margin-top: 55.15px;
    }

    .social{

      &__img{
        max-width: 39.61px !important;
        max-height: 39.61px !important;
      }
    }

  }
}

@media (max-width: 631px) and (min-width: 320px){
  .team__items{
    flex-direction: column !important;
    align-items: center;
  }
}